// imports
@use "../abstracts/abstracts" as *;

/* 
========== 
buttons
========== 
*/

.btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn {
  @include headingStyles;
  font-size: 1.6rem;
  color: color(white);
  border-radius: $mainRadius;
  padding: 2rem;
  display: inline-block;
  box-shadow: $mainShadow;
  text-align: center;

  &--primary {
    background-color: color(darkCyan);

    .btn__text--primary {
      color: color(teal);
    }
  }

  &--secondary {
    background-color: color(darkPurple);

    .btn__text--secondary {
      color: color(purple);
    }
  }
}

/* 
========== 
indicator
========== 
*/

.indicator {
  @include flexCenter;
  border: 0.15rem solid color(lightGray);
  background-color: color(white);
  padding: 3rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin: 5rem auto;
  position: relative;
  z-index: 5;

  &::before {
    content: "";
    background-color: color(lightGray);
    height: 10rem;
    width: 0.15rem;
    position: absolute;
    bottom: 100%;
    z-index: 1;
  }

  &--two {
    transform: translateY(-30px);
  }

  &__text {
    @include headingStyles;
    color: color(gray);
    font-size: 1.6rem;
  }
}
