@use "../abstracts/abstracts" as *;

.features {
  @include sectionSpacingMd;

  @include responsive(md) {
    @include sectionSpacingSm;
  }

  &__content {
    @include maxWidthLg;
    overflow-x: hidden;
  }

  &__info {
    @include flexCenter;
    @include sectionSpacingMd;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;

    @include responsive(md) {
      @include sectionSpacingSm;
    }
  }

  &__sub-title {
    @include headingStyles;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: color(darkCyan);
  }

  &__title {
    @include headingStyles;
    font-size: 4rem;
  }

  &__desc {
    @include textStyles;
    font-size: 1.8rem;
    color: color(gray);
    width: 75%;
    margin: 0 auto;

    @include responsive(md) {
      width: 100%;
    }
  }
}
