// imports
@use "../abstracts/abstracts" as *;

/* 
========== 
hero
========== 
*/

.hero {
  @include flexCenter;
  flex-direction: column;

  &__logo {
    @include sectionSpacingSm;
    width: 20rem;
  }

  &__content {
    @include sectionSpacingMd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    @include headingStyles;
    font-size: 6.4rem;
  }

  &__desc {
    @include textStyles;
    font-size: 1.8rem;
    color: color(gray);
  }
}

/* 
========== 
features
========== 
*/

.features {
  @include sectionSpacingMd;

  &__content {
    @include maxWidthLg;
  }

  &__info {
    @include flexCenter;
    @include sectionSpacingMd;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  &__sub-title {
    @include headingStyles;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: color(darkCyan);
  }

  &__title {
    @include headingStyles;
    font-size: 4rem;
  }

  &__desc {
    @include textStyles;
    font-size: 1.8rem;
    color: color(gray);
    width: 75%;
    margin: 0 auto;
  }
}

/* 
========== 
gallery
========== 
*/

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  &__img {
    border-radius: $secondaryRadius;
    box-shadow: $mainShadow;
  }
}

/* 
========== 
footer
========== 
*/

.footer {
  background: linear-gradient(
      hsla(192, 37%, 48%, 0.8),
      hsla(192, 37%, 48%, 0.9)
    ),
    url("../images/desktop/image-footer.jpg") center center/cover no-repeat;

  &__content {
    @include sectionSpacingMd;
    @include maxWidthLg;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    align-items: center;
    gap: 5rem;
    color: color(white);
  }

  &__title {
    @include headingStyles;
    font-size: 4rem;
  }

  &__desc {
    @include textStyles;
    font-size: 1.8rem;
  }
}
